<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    <style>
        .container{
            text-align: center;
            background-color: beige;
            border:10px solid aqua;
            font-size:20px;
            font-family: sans-serif;
        }
    
    </style>
</head>
<body class="container">
    <form action='' method=['POST']>
        <p>Random Word</p>
        <p>Attempt #{{attempt}}</p> 
        <p>{{word}}</p>
        <button>Generate</button>
        <br><br>
    </form>
    
</body>
</html>